.half-width {
    width: 50%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 200px;
}

.title span {
    color: #ffd57a;
}

button {
    color: #090b0d;
    background-color: #ffd57a;
    border: none;
    border-radius: 20px;
    padding: 15px 50px;
    cursor: pointer;
}

.short-review {
    padding-top: 50px;
}

.short-review h3 {
    text-align: center;
}

.see-all {
    text-align: center;
    margin-bottom: 40px;
}

@media screen and (max-width: 400px) {
    .title {
        flex-direction: column-reverse;
        padding: 0%;
    }
    .half-width {
        width: 80%;
        text-align: center;
    }

    .half-width img {
        width: 80%;
    }

    button {
        margin-top: 10px;
        padding: 10px 25px;
    }
}
