nav {
    padding: 50px 500px;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #dce8f2;
}

@media screen and (max-width: 400px) {
    nav {
        padding: 20px 0;
    }
}
