.identity {
    display: flex;
}

.identity img {
    height: 50px;
    margin-left: 5px;
    border-radius: 50px;
}

.review {
    width: 50%;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ffd57a;
    padding: 50px;
    border-radius: 50px;
}
